*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    transition: background-color 1s;
  }
  
  .menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
  }
  .li-nav{
    list-style-type: none;
  }
  
  .li-nav:hover{
    transform: translate(3px, 2px);
  }
  
  .link-nav{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #eeeeee;
    text-shadow: 1px 1px gray, 2px 3px black;
  }
  
  .link-nav:hover{
    text-shadow:0.5px 0.5px var(--colorDark) ;
  }
  
  header {
    background: url(../assets/imagenes/historia-programacion.jpg) 50% 0 fixed;
    background-size: auto;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tituloPal {
    text-align: center;
    font-weight: 400;
    font-size: calc(3em + 18px);
    color: #eeeeee;
    text-shadow: 2px 2px gray, 6px 6px black;
  }

  .tarjeta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
    gap: 20px;
  }

  .tarjeta>img{
    width: 50%;
  }

  .tarjeta-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  h3{
    text-shadow: 1px 1px white,2px 2px gray;
    font-size: calc(2em + 18px);
    font-weight: 500;
    text-align: center;
    color: var(--colorDark);
    padding-bottom: 20px;
  }

  .parrafo{
    width: 80%;
    color: var(--colorDark);
  }